<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
      <form action="/CampFlogGnaw/Saturday/MyItinerary" method="post">

        <div class="container">
          <div class="row">
            <div class="col-sm">
        <%for (let i=0; i < saturdaylineup.length; i++) {%>
       <% if (saturdaylineup[i].camp === true) { %>
        <h3><%=saturdaylineup[i].artist%></h3>
        <img src="<%=saturdaylineup[i].img%>" height="200px">
        <input
          type="hidden"
          name="<%=saturdaylineup[i].id%>"
          value="0"
          >
          <input
            type="checkbox"
            name="<%=saturdaylineup[i].id%>"
            value="1"
            <% if (saturdaylineup[i].checked) { %>
              checked
            <% } %>
            />
          <!-- <input
            type="checkbox"
            name="half"
            value="on"
            <% if (saturdaylineup[i].half) { %>
              checked
            <% } %>
          /> -->
      <%  }%>
      <% } %>
      </div>
      <div class="col-sm">
        <%for (let i=0; i < saturdaylineup.length; i++) {%>
      <% if (saturdaylineup[i].flog === true) { %>
        <h3><%=saturdaylineup[i].artist%></h3>
       <img src="<%=saturdaylineup[i].img%>" height="200px">
       <input
         type="hidden"
         name="<%=saturdaylineup[i].id%>"
         value="0"
         >
         <input
           type="checkbox"
           name="<%=saturdaylineup[i].id%>"
           value="1"
           <% if (saturdaylineup[i].checked) { %>
             checked
           <% } %>
           />
         <!-- <input
           type="checkbox"
           name="half"
           value="on"
           <% if (saturdaylineup[i].half) { %>
             checked
           <% } %>
         /> -->
     <%  }%>
    <%}%>
        </div>
      </div>
    </div>


      <input type="submit" name="" value="submit">

          </form>

  </body>
</html>
