<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    
      <form action="/CampFlogGnaw/Saturday/MyItinerary?_method=PUT" method="post">

        <!-- Camp Stage -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">


        <%for (let i=0; i < saturdayLineup.length; i++) {%>
       <% if (saturdayLineup[i].camp === true) { %>

         <div class="card text-left">
           <div class="card-header">
             <!-- set up for opening input -->
             <input
               type="hidden"
               name="<%=saturdayLineup[i].id%>"
               value="0"
               >
               <div class="form-check
               <%if (saturdayLineup[i].opening === false) {%>
                 hide
               <%}%>
               ">
                 <input
                   type="checkbox"
                   class="opening"
                   name="<%=saturdayLineup[i].id%>"
                   startTime="<%=saturdayLineup[i].trueStartTime%>"
                   endTime="<%=saturdayLineup[i].trueEndTime%>"
                   value="opening"
                   id="<%=saturdayLineup[i].id%>"
                   <% if (saturdayLineup[i].opening) { %>
                     checked
                   <% } %>
                   />
                 <label class="form-check-label"
                  for="<%=saturdayLineup[i].id%>">
                  See opening!
                </label>
               </div>

           </div>
           <div class="card-body">
             <h1 class="card-title">
               <%=saturdayLineup[i].artist%>
             </h1>
             <p class="card-text"><%=saturdayLineup[i].startTime%> - <%=saturdayLineup[i].endTime%></p>
             <!-- set up for selection input -->
             <span class="mainCampSelector">
               <input
                 type="hidden"
                 name="<%=saturdayLineup[i].id%>"
                 value="0"
                 >


                 <div class="pretty p-icon p-smooth">
                   <input
                     type="checkbox"
                     class="selection"
                     name="<%=saturdayLineup[i].id%>"
                     startTime="<%=saturdayLineup[i].trueStartTime%>"
                     endTime="<%=saturdayLineup[i].trueEndTime%>"
                     value="selected"
                     <% if (saturdayLineup[i].checked) { %>
                       checked
                     <% } %>
                     />
                     <div class="state p-success">
                         <i class="icon fa fa-check"></i>
                         <label></label>
                     </div>
                 </div>




               </span>
             <img src="<%=saturdayLineup[i].img%>" class="img-fluid frontCardImg">
           </div>
           <div class="card-footer text-muted">
             <!-- <h3><%=saturdayLineup[i].artist%></h3> -->
             <!-- <img src="<%=saturdayLineup[i].img%>" class="rounded"> -->




             <!-- set up for finale input -->
             <input
               type="hidden"
               name="<%=saturdayLineup[i].id%>"
               value="0"
               >

               <div class="form-check
               <%if (saturdayLineup[i].finale === false) {%>
                 hide
               <%}%>
               ">
                 <input
                   type="checkbox"
                   class="finale"
                   name="<%=saturdayLineup[i].id%>"
                   startTime="<%=saturdayLineup[i].trueStartTime%>"
                   endTime="<%=saturdayLineup[i].trueEndTime%>"
                   value="finale"
                   id="<%=saturdayLineup[i].id%>"
                   <% if (saturdayLineup[i].finale) { %>
                     checked
                   <% } %>
                   />
                   <label class="form-check-label"
                    for="<%=saturdayLineup[i].id%>">
                    Catch finale!
                  </label>
               </div>

           </div>
         </div>






      <%  }%>
      <% } %>
      </div>

      <!-- Flog Stage -->
      <div class="col-sm">
        <%for (let i=0; i < saturdayLineup.length; i++) {%>
      <% if (saturdayLineup[i].flog === true) { %>
        <div class="card text-right">
          <div class="card-header">
            <!-- set up for opening input -->
            <input
              type="hidden"
              name="<%=saturdayLineup[i].id%>"
              value="0"
              >
              <div class="form-check
              <%if (saturdayLineup[i].opening === false) {%>
                hide
              <%}%>
              ">
                <input
                  type="checkbox"
                  class="opening"
                  name="<%=saturdayLineup[i].id%>"
                  startTime="<%=saturdayLineup[i].trueStartTime%>"
                  endTime="<%=saturdayLineup[i].trueEndTime%>"
                  value="opening"
                  id="<%=saturdayLineup[i].id%>"
                  <% if (saturdayLineup[i].opening) { %>
                    checked
                  <% } %>
                  />
                <label
                  class="form-check-label"
                  for="<%=saturdayLineup[i].id%>">
                  See opening!
                </label>
              </div>

          </div>
          <div class="card-body">
            <h1 class="card-title">
              <%=saturdayLineup[i].artist%>
            </h1>
            <p class="card-text"><%=saturdayLineup[i].startTime%> - <%=saturdayLineup[i].endTime%></p>
            <span class="mainFlogSelector">
              <input
                type="hidden"
                name="<%=saturdayLineup[i].id%>"
                value="0"
                >


                <div class="pretty p-icon p-smooth">
                  <input
                    type="checkbox"
                    class="selection"
                    name="<%=saturdayLineup[i].id%>"
                    startTime="<%=saturdayLineup[i].trueStartTime%>"
                    endTime="<%=saturdayLineup[i].trueEndTime%>"
                    value="selected"
                    <% if (saturdayLineup[i].checked) { %>
                      checked
                    <% } %>
                    />
                    <div class="state p-success">
                        <i class="icon fa fa-check"></i>
                        <label></label>
                    </div>
                </div>




              </span>
            <img src="<%=saturdayLineup[i].img%>" class="img-fluid frontCardImg">

          </div>
          <div class="card-footer text-muted">
            <!-- <h3><%=saturdayLineup[i].artist%></h3> -->
            <!-- <img src="<%=saturdayLineup[i].img%>" class="rounded"> -->

            <!-- set up for finale input -->
            <input
              type="hidden"
              name="<%=saturdayLineup[i].id%>"
              value="0"
              >

              <div class="form-check
              <%if (saturdayLineup[i].finale === false) {%>
                hide
              <%}%>
              ">
                <input
                  type="checkbox"
                  class="finale"
                  name="<%=saturdayLineup[i].id%>"
                  startTime="<%=saturdayLineup[i].trueStartTime%>"
                  endTime="<%=saturdayLineup[i].trueEndTime%>"
                  value="finale"
                  id="<%=saturdayLineup[i].id%>"
                  <% if (saturdayLineup[i].finale) { %>
                    checked
                  <% } %>
                  />
                  <label
                    class="form-check-label"
                    for="<%=saturdayLineup[i].id%>">
                    Catch finale!
                  </label>
              </div>

          </div>
        </div>



     <%  }%>
    <%}%>
        </div>
      </div>
    </div>


      <input type="submit" name="" value="submit">

          </form>

  </body>
</html>
