<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
      <form action="/CampFlogGnaw/Saturday/MyItinerary" method="post">

        <!-- Camp Stage -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
        <%for (let i=0; i < saturdayLineup.length; i++) {%>
       <% if (saturdayLineup[i].camp === true) { %>
        <h3><%=saturdayLineup[i].artist%></h3>
        <img src="<%=saturdayLineup[i].img%>" height="200px">

        <!-- set up for selection input -->
        <input
          type="hidden"
          name="<%=saturdayLineup[i].id%>"
          value="0"
          >
          <input
            type="checkbox"
            class="selection"
            name="<%=saturdayLineup[i].id%>"
            startTime="<%=saturdayLineup[i].trueStartTime%>"
            endTime="<%=saturdayLineup[i].trueEndTime%>"
            value="selected"
            <% if (saturdayLineup[i].checked) { %>
              checked
            <% } %>
            />
          <!-- set up for opening input -->
          <input
            type="hidden"
            name="<%=saturdayLineup[i].id%>"
            value="0"
            >
            opening:
            <input
              type="checkbox"
              class="opening
              <%if (!saturdayLineup[i].opening) { %>
                hide"
              <%}%>
              name="<%=saturdayLineup[i].id%>"
              startTime="<%=saturdayLineup[i].trueStartTime%>"
              endTime="<%=saturdayLineup[i].trueEndTime%>"
              value="opening"
              <% if (saturdayLineup[i].opening) { %>
                checked
              <% } %>
              />


          <!-- set up for finale input -->
          <input
            type="hidden"
            name="<%=saturdayLineup[i].id%>"
            value="0"
            >finale:
            <input
              type="checkbox"
              class="finale
              <%if (saturdayLineup[i].opening === false) {%>
                hide"
              <%}%>
              name="<%=saturdayLineup[i].id%>"
              startTime="<%=saturdayLineup[i].trueStartTime%>"
              endTime="<%=saturdayLineup[i].trueEndTime%>"
              value="finale"
              <% if (saturdayLineup[i].finale) { %>
                checked
              <% } %>
              />


      <%  }%>
      <% } %>
      </div>

      <!-- Flog Stage -->
      <div class="col-sm">
        <%for (let i=0; i < saturdayLineup.length; i++) {%>
      <% if (saturdayLineup[i].flog === true) { %>
        <h3><%=saturdayLineup[i].artist%></h3>
       <img src="<%=saturdayLineup[i].img%>" height="200px">
       <input
         type="hidden"
         name="<%=saturdayLineup[i].id%>"
         value="0"
         >
         <input
           type="checkbox"
           class="selection"
           name="<%=saturdayLineup[i].id%>"
           startTime="<%=saturdayLineup[i].trueStartTime%>"
           endTime="<%=saturdayLineup[i].trueEndTime%>"
           value="selected"
           <% if (saturdayLineup[i].checked) { %>
             checked
           <% } %>
           />
           <!-- set up for opening input -->
           <input
             type="hidden"
             name="<%=saturdayLineup[i].id%>"
             value="0"
             >

             <input
               type="checkbox"
               class="opening
               <%if (saturdayLineup[i].opening === false) {%>
                 hide"
               <%}%>

               name="<%=saturdayLineup[i].id%>"
               startTime="<%=saturdayLineup[i].trueStartTime%>"
               endTime="<%=saturdayLineup[i].trueEndTime%>"
               value="opening"
               <% if (saturdayLineup[i].opening) { %>
                 checked
               <% } %>
               />


           <!-- set up for finale input -->
           <input
             type="hidden"
             name="<%=saturdayLineup[i].id%>"
             value="0"
             >finale:
             <input
               type="checkbox"
               class="finale
               <%if (saturdayLineup[i].opening === false) {%>
                 hide"
               <%}%>
               name="<%=saturdayLineup[i].id%>"
               startTime="<%=saturdayLineup[i].trueStartTime%>"
               endTime="<%=saturdayLineup[i].trueEndTime%>"
               value="finale"
               <% if (saturdayLineup[i].finale) { %>
                 checked
               <% } %>
               />

     <%  }%>
    <%}%>
        </div>
      </div>
    </div>


      <input type="submit" name="" value="submit">

          </form>

  </body>
</html>
