<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>

      <% include ./partials/header.ejs %>
      <nav id="myNav" class="sticky-top shadow p-3 mb-5">

            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/CampFlogGnaw/Saturday/MyItinerary">My Day</a>
              </li>
            </ul>
      </nav>

    <main>

    <div class="container-fluid">

      <% for (let i=0; i<itinerary.length; i++) { %>
        <%if (itinerary[i].checked) {%>
        <div
        class="card mb-3" id="bootstrapcards">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="stageTitle">
            <%  if (itinerary[i].camp) {%>
                <img src="/static/images/camp.png" class="card-img">
              <% } else { %>
                <img src="/static/images/flog.png" class="card-img">
              <%}%>
              </div>
              <div>
              <a href="http://localhost:3000/CampFlogGnaw/<%=itinerary[i].id%>"><img src="<%=itinerary[i].img%>" alt="<%=itinerary[i].artist%>" class="card-img"></a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title"><%=itinerary[i].artist%></h2>
                <h6 class="card-subtitle mb-2 text-muted"><%=itinerary[i].startTime%> - <%=itinerary[i].endTime%></h6>
                  <label for="<%=itinerary[i].artist%>">What were the highlights of this set?</label>
                  <form class="" action="/CampFlogGnaw/Saturday/MyItinerary/<%=itinerary[i].id%>/edit?_method=PUT" method="post">
                    <div class="input-group">
                      <textarea
                      name="comments"
                      rows="3"
                      class="form-control card-text"
                      value="0"
                      placeholder="Put your thoughts here after the show!"
                      id="<%=itinerary[i].artist%>"><%=itinerary[i].comments%></textarea>
                      <input artist="<%=itinerary[i].id%>" type="hidden" name="rating" value="0">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                          <% if (itinerary[i].comments.length) { %>
                          Edit?
                       <% } else {%>
                           Submit
                       <%}%>
                        </button>
                      </div>
                    </div>

                <p class="card-text"><small class="text-muted" id="<%=itinerary[i].id%>">
                  That performance was:
                  <span id="1" class="fa fa-star onestar
                <% if (itinerary[i].rating > 0) {%>
                    starred
                  <%}%>
                  "></span>
                  <span id="2" class="fa fa-star twostar
                  <% if (itinerary[i].rating > 1) {%>
                      starred
                    <%}%>
                  "></span>
                  <span id="3" class="fa fa-star threestar
                  <% if (itinerary[i].rating > 2) {%>
                      starred
                    <%}%>
                  "></span>
                  <span id="4" class="fa fa-star fourstar
                  <% if (itinerary[i].rating > 3) {%>
                      starred
                    <%}%>
                  "></span>
                  <span id="5" class="fa fa-star fivestar
                  <% if (itinerary[i].rating > 4) {%>
                      starred
                    <%}%>
                  "></span>
                </small></p>
                </form>
              </div>
            </div>
          </div>
        </div>




    <%  } else if (itinerary[i].opening) { %>
      <div class="card mb-3 mini" style="max-width: 800px">
        <div class="row no-gutters partial">
          <div class="col-md-4">
            <div class="stageTitle">
          <%  if (itinerary[i].camp) {%>
              <img src="/static/images/camp.png" class="card-img">
            <% } else { %>
              <img src="/static/images/flog.png" class="card-img">
            <%}%>
            </div>
            <div>
            <a href="http://localhost:3000/CampFlogGnaw/<%=itinerary[i].id%>"><img src="<%=itinerary[i].img%>" alt="<%=itinerary[i].artist%>" class="card-img"></a>
            </div>
            <div>
              <span class="badge badge-dark partialNotification">Partial show</span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title faded">Opening only!</h5>
              <h2 class="card-title"><%=itinerary[i].artist%></h2>
              <h6 class="card-subtitle mb-2 text-muted"><%=itinerary[i].startTime%> - <%=itinerary[i].endTime%></h6>
              <label for="<%=itinerary[i].artist%>">What were the highlights of this set?</label>
              <form class="" action="/CampFlogGnaw/Saturday/MyItinerary/<%=itinerary[i].id%>/edit?_method=PUT" method="post">
                <div class="input-group">
                  <textarea
                  name="comments"
                  rows="1"
                  class="form-control card-text"
                  placeholder="Put your thoughts here after the show!" id="<%=itinerary[i].artist%>"><%=itinerary[i].comments%></textarea>
                  <input artist="<%=itinerary[i].id%>" type="hidden" name="rating" value="0">
                  <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="submit">
                       <% if (itinerary[i].comments.length) { %>
                       Edit?
                    <% } else {%>
                        Submit
                    <%}%>
                      </button>
                   </div>
                </div>
              <p class="card-text"><small class="text-muted" id="<%=itinerary[i].id%>">
                That performance was:
                <span id="1" class="fa fa-star
              <% if (itinerary[i].rating > 0) {%>
                  starred
                <%}%>
                "></span>
                <span id="2" class="fa fa-star
                <% if (itinerary[i].rating > 1) {%>
                    starred
                  <%}%>
                "></span>
                <span id="3" class="fa fa-star
                <% if (itinerary[i].rating > 2) {%>
                    starred
                  <%}%>
                "></span>
                <span id="4" class="fa fa-star
                <% if (itinerary[i].rating > 3) {%>
                    starred
                  <%}%>
                "></span>
                <span id="5" class="fa fa-star
                <% if (itinerary[i].rating > 4) {%>
                    starred
                  <%}%>
                "></span>
              </small></p>
            </form>

            </div>
          </div>
        </div>
      </div>

      <%} else if (itinerary[i].finale) { %>
        <div class="card mb-3 mini" style="max-width: 800px">
          <div class="row no-gutters partial">
            <div class="col-md-4">
              <div class="stageTitle">
            <%  if (itinerary[i].camp) {%>
                <img src="/static/images/camp.png" class="card-img">
              <% } else { %>
                <img src="/static/images/flog.png" class="card-img">
              <%}%>
              </div>
              <div>
              <a href="http://localhost:3000/CampFlogGnaw/<%=itinerary[i].id%>"><img src="<%=itinerary[i].img%>" alt="<%=itinerary[i].artist%>" class="card-img"></a>
              </div>
              <div>
                <span class="badge badge-dark partialNotification">Partial show</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title faded">Finale only!</h5>
                <h2 class="card-title"><%=itinerary[i].artist%></h2>
                <h6 class="card-subtitle mb-2 text-muted"><%=itinerary[i].startTime%> - <%=itinerary[i].endTime%></h6>
                  <label for="<%=itinerary[i].artist%>">What were the highlights of this set?</label>
                  <form class="" action="/CampFlogGnaw/Saturday/MyItinerary/<%=itinerary[i].id%>/edit?_method=PUT" method="post">
                    <div class="input-group">
                      <textarea
                      name="comments"
                      rows="1"
                      class="form-control card-text"
                      placeholder="Put your thoughts here after the show!" id="<%=itinerary[i].artist%>"><%=itinerary[i].comments%></textarea>
                      <input artist="<%=itinerary[i].id%>" type="hidden" name="rating" value="0">
                      <div class="input-group-append">
                         <button class="btn btn-outline-secondary" type="submit">
                           <% if (itinerary[i].comments.length) { %>
                           Edit?
                        <% } else {%>
                            Submit
                        <%}%>
                         </button>
                       </div>
                    </div>
                  </form>
                <p class="card-text"><small class="text-muted" id="<%=itinerary[i].id%>">
                  That performance was:
                  <span id="1" class="fa fa-star
                <% if (itinerary[i].rating > 0) {%>
                    starred
                  <%}%>
                  "></span>
                  <span id="2" class="fa fa-star
                  <% if (itinerary[i].rating > 1) {%>
                      starred
                    <%}%>
                  "></span>
                  <span id="3" class="fa fa-star
                  <% if (itinerary[i].rating > 2) {%>
                      starred
                    <%}%>
                  "></span>
                  <span id="4" class="fa fa-star
                  <% if (itinerary[i].rating > 3) {%>
                      starred
                    <%}%>
                  "></span>
                  <span id="5" class="fa fa-star
                  <% if (itinerary[i].rating > 4) {%>
                      starred
                    <%}%>
                  "></span>
                </small></p>
              </div>
            </div>
          </div>
        </div>
        <%}%>

        <%# set up alert if switching stages %>
        <%if (i < itinerary.length-1) { %>
          <%if (itinerary[i].camp != itinerary[i+1].camp) {%>
        <span class="badge badge-danger">You need to run over to the other stage!</span>
          <%  } else {%>
        <span class="badge badge-success">Your next show is at this stage, feel free to chill here for a bit.</span>
        <%  }%>
      <%  }%>


    <% } %>


    <a href="/CampFlogGnaw/Saturday/Lineup">Home</a>
    </div>
  </main>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
  </body>
</html>
